<!DOCTYPE html>
<html>
<head>
    <title>Auth App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <h2>LedgerSystem</h2>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>
<div class="container">
